<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Канал 1</title>
</head>
<body>
    <h1 align="center">Индивидуальное задание</h1>
<p>Параметры канала 1:</p>



<p align="center">Температура: </p>
<h1 align="center">температура <%= text %> град.
</h1>

<p align="center"><a href="/">вернуться в начало</a></p>
</body>
</html>
